/* Prévia do ícone Phosphor no formulário da seção de metadados  */
#iphan-blocksy-metadata-section-icon {
    font-size: 1.75em;
    color: var(--tainacan-secondary);
}
/* Esconde banner de avisos inseridos pelo plugin de animação */
.otter-animation-welcome-notice,
.themeisle-sdk-notice,
.ti-sdk-neve-fse-notice,
.ti-sdk-om-notice {
    display: none;
    visibility: hidden;
}